<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W</title>
    <link rel="stylesheet" href="/static/css/Authorization-style.css">
</head>

<body>
    <div class="bg-blob blob-1"></div>
    <div class="bg-blob blob-2"></div>

    <header>
        <img src="/static/pictures/logo.png" class="logo">
        <h2 class="page-name">Вхід або реєстрація шукача</h2>
        <h3 class="info-authorization">Увійдіть, щоб керувати розміщенням вашого резюме, відгукуватися на вакансії та
            отримувати пропозиції від роботодавців.</h3>
    </header>

    <main>
        <form class="authorization"></form>

        <div class="divider">
            <span class="divider-line"></span>
            <span class="divider-text">або</span>
            <span class="divider-line"></span>
        </div>

        <a href="" class="btn-google">
            <img src="/static/pictures/google_ikon.png" class="google-ikon" alt="Google">
            Увійти через Google
        </a>
    </main>

    <script src="/static/js/Authorization.js" type="module">
    </script>
</body>

</html>